@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&family=PT+Serif:wght@400;700&family=STIX+Two+Text:ital,wght@1,500&display=swap');

.ContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-direction: column;
    font-family: 'PT Serif', serif;
}

.ErrorShown {
    visibility: visible;
    color: rgb(254, 62, 62);
    border: 1px solid;
    border-style: dotted;
    border-color: rgb(254, 62, 62);
    padding: 1em;
}

.ErrorHidden {
    visibility: hidden;
    padding: 1.7em;
}

.formFields {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 0.5em 0 0.5em 0;
}
