@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&family=PT+Serif:wght@400;700&family=STIX+Two+Text:ital,wght@1,500&display=swap');

:root {
    --main-bg-color: #3a7d44;
    --lighter-bg-color: #69b578;
    --light-color: #d0db97;
    --darker-bg-color: #254d32;
    --dark-color: #181d27;
}

.ContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-direction: column;
    font-family: 'PT Serif', serif;
}

.ErrorShown {
    visibility: visible;
    color: rgb(254, 62, 62);
    border: 1px solid;
    border-style: dotted;
    border-color: rgb(254, 62, 62);
    padding: 1em;
}

.ErrorHidden {
    visibility: hidden;
    padding: 1.7em;
}

.formFields {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 0.5em 0 0.5em 0;
}

#formBtn {
    height: 3em;
    width: 8em;
    background-color: var(--darker-bg-color);
    border: 1px solid;
    border-color: var(--lighter-bg-color);
    color: var(--light-color);
    font-size: 0.5em;
}

#formBtn:hover {
    color: var(--lighter-bg-color);
    font-size: 0.51em;
}

#formBtn:active {
    transform: scale(0.96);
}

#email, .Email {
    font-size: 2rem;
}