@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

:root {
    --main-bg-color: #3a7d44;
    --lighter-bg-color: #69b578;
    --light-color: #d0db97;
    --darker-bg-color: #254d32;
    --dark-color: #181d27;
}

.onLoadHighlight {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #3a7d4439 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
}

@keyframes highlight {
    to {
        background-position: 0 0;
    }
}

@media (max-width: 480px) {
    .headerName {
        font-family: 'PT Serif', serif;
        font-size: 4em;
    }

    .headerNameContainer {
        padding: 1em;
        border: solid 5px;
        border-color: var(--light-color);
        border-style: double;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        overflow-x: hidden;
        flex-shrink: 2;
    }



    .navbarLinks {
        list-style: none;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navAnchors {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: var(--light-color);
        border: 2px solid var(--darker-bg-color);
        border-radius: 30px;
        box-shadow: var(--darker-bg-color) 4px 4px 0 0;
        color: var(--dark-color);
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 1rem 0 1em;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .navAnchors:hover {
        background-color: var(--light-color);
    }

    .navAnchors:active {
        box-shadow: var(--darker-bg-color) 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .navbarList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navbtn {
        background-color: var(--light-color);
        border: 2px solid var(--darker-bg-color);
        border-radius: 30px;
        box-shadow: var(--darker-bg-color) 4px 4px 0 0;
        color: var(--dark-color);
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 1rem 0 1em;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .navbtn:hover {
        background-color: var(--light-color);
    }

    .navbtn:active {
        box-shadow: var(--darker-bg-color) 2px 2px 0 0;
        transform: translate(2px, 2px);
    }
}